tweepy>=4.14,<5
python-dotenv>=1,<2
urllib3>=1.26,<2
requests>=2.27,<3
pillow>=10,<12
numpy>=1.24,<3
imageio-ffmpeg>=0.4,<1
google-auth>=2,<3
google-auth-oauthlib>=1,<2
google-api-python-client>=2,<3
playwright>=1.45,<2
